@import '../../theme/default.module.css';

.root {
	display: flex;
	flex-direction: row;
	width: var(--appWidth);
	min-height: var(--containerHeight);
	background-color: var(--thirdColor);
}

.trtopright {
	width: 0;
	height: 0;
	border-top: var(--trBorderTopBottom);
	border-left: var(--trBorderLeftRight);
}

.trtopleft {
	width: 0;
	height: 0;
	border-top: var(--trBorderTopBottom);
	border-right: var(--trBorderLeftRight);
}

.trbottomright {
	width: 0;
	height: 0;
	border-bottom: var(--trBorderTopBottom);
	border-right: var(--trBorderLeftRight);
}

.trbottomleft {
	width: 0;
	height: 0;
	border-bottom: var(--trBorderTopBottom);
	border-left: var(--trBorderLeftRight);
}

.square {
	display: flex;
	background-color: var(--primaryColor);
	clear:both;
	height:var(--containerHeight);
	width: var(--squareWidth);
}

.align div {
	float: left;
}