@import '../config.module.css';

.root {
	display: flex;
	flex-direction: column;
	width: 25vw;
	padding: 20px;
	border-right: 1px solid var(--tertiaryColor);
}

.root a {
	cursor: pointer;
	margin: 5px 0;
}