@import '../../theme/default.module.css';

.root {
	display: flex;
	flex-direction: column;
	width: calc(var(--appWidth)/4);
	overflow: auto;
	padding: 20px;
	border-right: 1px solid var(--thirdColor);
}

@media screen and (max-width: 360px) {
	.root {
		padding: 5px;
	}
}

.root a {
	cursor: pointer;
	margin: 5px 0;
}

.selected {
	font-weight: bold;
}